Footere
    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    
                    <a class="icon facebook" href="#"><img class="facebook" src="../../assets/img/facebook.svg" alt="icon-facebook"></a>
                    <a class="icon twitter" href="#"><img class="twitter" src="../../assets/img/facebook.svg" alt="icon-facebook"></a>
                    <a class="icon" href="#"><i class="icon-twitter"></i></a>
                    <a class="icon" href="#"><i class="icon-linkedin"></i></a>
                    <a class="icon" href="#"><i class="icon-gplus"></i></a>
                </div>
            </div>
        </div>
    </footer><!-- /#footer -->
